ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

body, html {
    height: 50%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Monsters-University-Campus.jpeg");


  height: 200%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;


}

.button:hover {
box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
border-radius: 12px;

}

h3 {
  text-align: center;

}

hr {
  border: 1px solid lightseagreen;
  width: 67%;
  margin: auto;
}

p {
  margin: auto;
  padding-left: 10%;
  height: 10%;
}

